@model IEnumerable<Hospital.Domain.Entities.Doctor>

@{
    ViewData["Title"] = "Doctors";
}

<div class="glass-card">
    <h1 class="mb-4"> Doctors </h1>

    <p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Specialization)</th>
            <th>@Html.DisplayNameFor(model => model.ConsultationFee)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Specialization)</td>
                <td>@Html.DisplayFor(modelItem => item.ConsultationFee)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DoctorId" class="btn btn-sm btn-warning">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.DoctorId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
